<!DOCTYPE html>
<html>
<head>
    <title>Creator Tools</title>
</head>
<body>
    <h1>🔥 Creator Toolkit</h1>

    <a href="/downloader">Video Downloader</a><br><br>

    <form action="/title" method="post">
        <input type="text" name="keyword" placeholder="Enter keyword">
        <button type="submit">Generate Titles</button>
    </form>

    <br>

    <form action="/hashtag" method="post">
        <input type="text" name="keyword" placeholder="Enter keyword">
        <button type="submit">Generate Hashtags</button>
    </form>
</body>
</html>
